boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Photos/Photos.apk
