system_ext/priv-app/Settings/Settings.apk
bootRE/boot.elf
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/Velvet/Velvet.apk
boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
